body {
	background-image: url(../img/brickwall_@2X.png?v=1);
}

::-webkit-scrollbar {
	/*滚动条整体样式*/
	width: 1px;
	/*高宽分别对应横竖滚动条的尺寸*/
	height: 1px;
}

::-webkit-scrollbar-thumb {
	/*滚动条里面小方块*/
	border-radius: 7px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: #ACACAC;
}

::-webkit-scrollbar-track {
	/*滚动条里面轨道*/
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	background: #EDEDED;
}

.off {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}

.on:after {
	content: '';
	width: 8px;
	height: 8px;
	background-color: #07ad07;
	border: 2px solid #dad6d6;
	position: absolute;
	display: block;
	border-radius: 50%;
	bottom: 10px;
	right: 6px;
}

#qqBoxmask {
	position: fixed;
	width: 100%;
	height: 100%;
}

#qqBox[data-v9926] #audio {
	display: none;
}

#qqBox[data-v9926] #files_li {
	position: absolute;
	top: 0;
	left: 22px;
}

#qqBox[data-v9926] #files {
	width: 24px;
	height: 21px;
	font-size: 0;
	border: none;
	position: absolute;
	top: 2px;
	left: 15px;
	opacity: 0;
	z-index: 5;
	cursor: pointer;
}

#qqBox[data-v9926] .clearfix:after {
	content: '';
	display: block;
	clear: both;
}

#qqBox[data-v9926] .layui-layim-photos {
	max-width: 100%;
	cursor: pointer;
}

#qqBox[data-v9926].qqBox {
	width: 850px;
	height: 618px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -425px;
	margin-top: -309px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	background-color: #fff;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.20);
	border-radius: 4px;
}

#qqBox[data-v9926] .BoxHead {
	height: 65px;
	/*display: -webkit-box;
	-webkit-box-orient: horizontal;*/
	padding-left: 10px;
	border-bottom: 1px solid #E6E6E6;
	position: relative;
}

#qqBox[data-v9926] .internetName {
	width: auto;
	height: 65px;
	line-height: 65px;
	position: absolute;
	top: 0;
	left: 65px;
}

#qqBox[data-v9926] .user_title_name {
	font-size: 16px;
	color: #333333;
	display: block;
	margin-bottom: 2px;
}

#qqBox[data-v9926] .user_title_words {
	font-size: 14px;
	color: #666666;
	display: none;
}

#qqBox[data-v9926] .headImg {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	margin: 10px;
	margin-left: 0;
}

#qqBox[data-v9926] .answers_head,
#qqBox[data-v9926] .news_head {
	width: 44px;
	height: 44px;
	position: absolute;
	right: 7px;
	top: -5px;
	border-radius: 50%;
}

#qqBox[data-v9926] .news_head {
	left: 7px;
}

#qqBox[data-v9926] .headImg img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

#qqBox[data-v9926] .topbarRight {
	position: absolute;
	right: 10px;
	top: 20px;
}

#qqBox[data-v9926] .topbarRight>div {
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
	font-size: 20px;
}

#qqBox[data-v9926] .topbarRight .small {
	top: 5px;
	position: relative;
	display: none;
}

#qqBox[data-v9926] .context {
	/*-webkit-box-flex: 1;
	display: -webkit-box;
	-webkit-box-orient: horizontal;*/
	width: 850px;
	height: 552px;
	position: relative;
}

#qqBox[data-v9926] .conLeft {
	width: 200px;
	overflow: auto;
	background: #fafafa;
	padding-top: 15px;
	border-right: 1px solid #E6E6E6;
	height: inherit;
}

#qqBox[data-v9926] .conLeft::-webkit-scrollbar {
	width: 0;
}

#qqBox[data-v9926] .conLeft ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#qqBox[data-v9926] .conLeft li {
	width: 100%;
	height: 50px;
	/*display: -webkit-box;
	-webkit-box-orient: horizontal;*/
	cursor: pointer;
	position: relative;
}

#qqBox[data-v9926] .conLeft li .liLeft {
	width: 30%;
	height: 100%;
	position: relative;
}

#qqBox[data-v9926] .liLeft.moreMsg:before {
	content: '';
	display: block;
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	top: 2px;
	background-color: #FF0000;
	left: 10px;
}

#qqBox[data-v9926] .liLeft img {
	margin: 5px;
	width: 39px;
	height: 35px;
	position: relative;
	border-radius: 50%;
	margin-left: 12px;
}

#qqBox[data-v9926] .liRight span {
	display: block;
	font-size: 14px;
	height: 31px;
	line-height: 31px;
	position: absolute;
	top: 50%;
	margin-top: -16px;
}

#qqBox[data-v9926] .liRight span:last-child {
	font-size: 14px;
	color: #767676;
	line-height: 15px;
	overflow: hidden;
	width: 140px;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: none;
}

#qqBox[data-v9926] .conRight {
	-webkit-box-flex: 1;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 201px;
}

#qqBox[data-v9926] .Righthead {
	width: 100%;
	height: 42px;
	border-bottom: 1px solid #ccc;
}

#qqBox[data-v9926] .headName {
	width: auto;
	height: 100%;
	line-height: 42px;
	margin-left: 20px;
	font-family: "å¾®è½¯é›…é»‘";
	font-size: 18px;
	float: left;
}

#qqBox[data-v9926] .headConfig {
	width: 20%;
	float: right;
	height: 100%;
}

#qqBox[data-v9926] .headConfig ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}

#qqBox[data-v9926] .headConfig li {
	margin: 10px 5px;
}

#qqBox[data-v9926] .RightCont {
	-webkit-box-flex: 1;
	overflow-y: scroll;
	width: 666px;
	height: 391px;
}

#qqBox[data-v9926] .RightCont::-webkit-scrollbar {
	width: 15px;
}

#qqBox[data-v9926] .RightCont ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: none;
}

#qqBox[data-v9926] .RightCont ul.active {
	display: block;
}

#qqBox[data-v9926] .RightCont li {
	width: 100%;
	min-height: 50px;
	/*display: -webkit-box;
	-webkit-box-orient: horizontal;*/
	margin-top: 10px;
	position: relative;
}

#qqBox[data-v9926] .nesHead {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	margin-left: 15px;
	float: left;
	display: none !important;
}

#qqBox[data-v9926] .nesHead img {
	width: 44px;
	height: 44px;
	border-radius: 50%;
}

#qqBox[data-v9926] .news {
	width: auto;
	background: #F0F0F0;
	padding: 5px 10px;
	margin: 4px;
	font-size: 14px;
	border-radius: 5px;
	position: relative;
	float: left;
	color: #666;
	min-height: 25px;
	line-height: 25px;
	margin-right: 15px;
	margin-left: 60px;
}

#qqBox[data-v9926] .news:before {
	content: '';
	position: absolute;
	left: -8px;
	top: 9px;
	width: 0;
	height: 0;
	border-style: solid dashed dashed;
	border-color: #F0F0F0 transparent transparent;
	overflow: hidden;
	border-width: 9px;
	border-radius: 0px;
}

#qqBox[data-v9926] .news .jiao {
	position: absolute;
	left: -8px;
	top: 10px;
}

#qqBox[data-v9926] .news .Expr {
	width: 50px;
	height: 30px;
	margin: 5px;
}

#qqBox[data-v9926] .answerHead {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	margin-left: 15px;
	float: right;
	display: none !important;
}

#qqBox[data-v9926] .answerHead img {
	width: 44px;
	height: 44px;
	border-radius: 50%;
}

#qqBox[data-v9926] .answers {
	width: auto;
	background: #44D144;
	padding: 5px 10px;
	margin: 4px;
	line-height: 25px;
	font-size: 13px;
	border-radius: 5px;
	margin-left: 10px;
	position: relative;
	float: right;
	color: #FFFFFF;
	letter-spacing: 1px;
	min-height: 25px;
	margin-right: 60px;
}

#qqBox[data-v9926] .answers:after {
	content: '';
	position: absolute;
	right: -8px;
	top: 9px;
	width: 0;
	height: 0;
	border-style: solid dashed dashed;
	border-color: #44D144 transparent transparent;
	overflow: hidden;
	border-width: 9px;
	border-radius: 0px;
}

#qqBox[data-v9926] .answers .jiao {
	position: absolute;
	right: -8px;
	top: 10px;
}

#qqBox[data-v9926] .RightFoot {
	width: 100%;
	height: 118px;
	border-top: 1px solid rgba(204, 204, 204, 0.5);
	position: relative;
	height: 160px;
}

#qqBox[data-v9926] .emjon {
	position: absolute;
	left: 0;
	top: -208px;
	display: none;
	background: #fff;
}

#qqBox[data-v9926] .emjon ul {
	list-style: none;
	margin: 0;
}

#qqBox[data-v9926] .layui-layim-face ul {
	position: relative;
	width: 324px;
	padding: 10px;
	border: 1px solid #D9D9D9;
	background-color: #fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

#qqBox[data-v9926] .layui-layim-face ul li {
	cursor: pointer;
	float: left;
	border: 1px solid #e8e8e8;
	height: 22px;
	width: 22px;
	overflow: hidden;
	margin: -1px 0 0 -1px;
	padding: 4px 2px;
	text-align: center;
}

#qqBox[data-v9926] .emjon ul li:hover {
	box-shadow: 5px 5px 5px #888888;
	transform: scale(1.2);
}

#qqBox[data-v9926] .emjon ul li img {
	width: 100%;
	height: 100%;
}

#qqBox[data-v9926] .footTop ul {
	list-style: none;
	margin: 0;
	padding: 0;
	/*display: -webkit-box;
	-webkit-box-orient: horizontal;*/
	position: relative;
}

#qqBox[data-v9926] .sendBtn {
	width: 86px;
	height: 28px;
	border: none;
	position: absolute;
	bottom: 20px;
	right: 30px;
	font-size: 14px;
	color: #666666;
	cursor: pointer;
	border-radius: 4px;
	border: 1px solid #CCCCCC;
	background-color: #fff;
}

#qqBox[data-v9926] .bg {
	background: #ebebec;
}

#qqBox[data-v9926] .tab-title .tabicon {
	width: 12px;
	height: 12px;
	display: inline-block;
	margin-right: 5px;
}

#qqBox[data-v9926] .tab-title.active .tabicon {
	transform: rotateZ(90deg);
	-webkit-transform: rotateZ(90deg);
}

#qqBox[data-v9926] .tab-title .tabicon {
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

#qqBox[data-v9926] .tab-title .tabicon:before {
	width: 12px;
	height: 12px;
	content: '';
	display: block;
	overflow: hidden;
	background-image: url(../img/Drop.png?v=1);
}

#qqBox[data-v9926] .tab-title {
	padding: 5px 15px;
	font-size: 15px;
	color: #333333;
	position: relative;
	cursor: pointer;
	border-bottom: 1px dashed #ccc;
}

#qqBox[data-v9926] .tab-title .tabpop {
	position: absolute;
	right: 15px;
}

#qqBox[data-v9926] .tab-cont {
	display: none;
}

#qqBox[data-v9926] .tab-div {
	margin-bottom: 10px;
}

#qqBox[data-v9926] .tab-div:last-child {
	margin-bottom: 0;
}

#qqBox[data-v9926] .tab-cont.active {
	display: block;
}

#qqBox[data-v9926] .liRight {
	position: absolute;
	width: 140px;
	height: 50px;
	top: 0;
	left: 30%;
}

#qqBox[data-v9926] #dope {
	width: calc(100% - 30px);
	height: 75px;
	border: none;
	outline: none;
	resize: none;
	padding: 0 15px;
}

#qqBox[data-v9926] #face {
	font-size: 22px;
}

#qqBox[data-v9926] .footTop li {
	cursor: pointer;
	color: #666;
}

#qqBox[data-v9926] #image {
	font-size: 24px;
	position: relative;
	top: -1px;
	margin-left: 15px;
}

#qqBox[data-v9926] .footTop {
	padding: 5px 15px;
}