html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
	margin: 0;
	padding: 0;
}

*{box-sizing: border-box;}

i {
	font-style: normal;
}

html, body {
	height: 100%;
	min-height: 100%;
	overflow: hidden;
}

body {
	font-family: "Microsoft YaHei";
	font-size:14px;
	color:#616161;
	#layui-layim-close, .layim-tool-log, .layui-layer-min{
		display: none !important;
	}
	.numsShow {
		visibility: hidden;
	}
	#show_layer_tips, #new_show_layer_tips{
		visibility: hidden ;
	}
	#show_layer_tips.show_layer_tips, #new_show_layer_tips.show_layer_tips{
		visibility: visible ;
	}
}

h1, h2, h3, h4, h5, h6{font-weight:normal;}

ul,ol {
	list-style: none;
}

img {
	border: none;
	vertical-align: middle;
}

a {
	text-decoration: none;
	color: #616161;
}

table {
	border-collapse: collapse;
}

input {
	outline: none;
	border: none;
}


.clearfix {
	zoom: 1;
}

.clearfix:after {
	content: ".";
	width: 0;
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
	overflow:hidden;
}

.fl {
	float: left
}

.fr {
	float: right
}

.tl {
	text-align: left;
}

.tc {
	text-align: center
}

.tr {
	text-align: right;
}

.inline{
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.disabled-style {
	cursor: no-drop !important;
    background-color: #d4d4d4 !important;
    border-color: #d4d4d4 !important;
}

.icon {
	display: inline-block;
	&.money {
		width: 12px;
		height: 12px;
		background: url('../../images/icon/Rectangle.png');
		vertical-align: middle;
		margin-top: -2px;
	}
}
._info {
	color: #1490CC !important;
	cursor: pointer;
}

input[type="file"]:focus{
	outline: none;
}

.file_item {
	display: inline-block;
	width: 100px;
	line-height: 20px;
	border: 1px solid #e7eaed;
	background-color: #f3f4f4;
	padding: 2px 4px;
	margin: 0 5px;
}
#add_qrcode, #edit_qrcode {
	overflow: hidden;
}

#topbar-collapse {
	.amaze-icon {
		vertical-align: middle;
		&::before {
			margin-right: 2px;
		}
	}
}


// ------------------------------------------------

#newMyChat {
	display: none;
}

#logo {
	margin-left: -12px;
}

.bg-fff {
	background-color: #fff !important;
}

.am-table>thead>tr>th {
	border-bottom: none;
}

#header {
	height: 50px;
	background-color: #fff;
	
}

.admin {
	.xinxitj {
		font-size: 16px;
		line-height: 35px;
		border-bottom: solid 1px #c9cdd7;
		margin-bottom: 10px;
	}
}

.table_btn_container {
	text-align: left !important;
	
	.table_btn_c {
		&:nth-child(n + 8) {
			margin-top: 8px;
		}
	}
}

.common_table {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 14px;

	.active_tr_top {
		td, th {
			border-bottom-color:  #3bb4f2;
		}
	}
	.active_tr {
		td {
			&:first-child {
				border-left-color:  #3bb4f2;
			}
			&:last-child {
				border-right-color:  #3bb4f2;
			}
			border-bottom-color:  #3bb4f2;
			border-top-color:  #3bb4f2;
		}
	}

	.table_btn_c {
		display: inline-block;
		
		margin-right: 25px;
		position: relative;

		.table_btn {
			cursor: pointer;
			display: inline-block;
			height: 22px;
			border-radius: 2px;
			width: 72px;
			line-height: 22px;
			border: 1px solid #ccc;
			border-right: none;
			text-align: center;


			&:hover {
				color: #409eff;
				border-color: #c6e2ff;
				background-color: #ecf5ff;
			}
		}

		.table_btn_del {
			cursor: pointer;
			position: absolute;
			height: 22px;
			line-height: 22px;
			border: 1px solid #ccc;
			border-left: none;
			font-size: 16px;
			right: -16px;
			top: 0px;

			&:hover {
				color: red;
			}
		}
	}

	// 有标记的td
	.table_badge_container {
		.bubble {
			display: inline-block;
		    text-align: center;
		    background: #58cf07;
		    border-radius: 20px;
		    min-width: 18px;
		    height: 18px;
		    line-height: 18px;
		    font-size: 12px;
		    color: #fff;
		}
	}
	

	&.gradual {
		tr {
			&:nth-child(2n) {
				background-color: #f5f5f5;
			}
		}
	}

	th {
		padding: 8px 0;
		background: #edf7ed;
		color: #5eb95e;
	}
	td {
		padding: 5px 0;
	}
	th, td {
		height: 31px;
		text-align: center;
		border: 1px solid #e8e7e7;
		overflow: hidden;
	}
}

.loadingBar_layer {
	padding: 20px;
	.loading_bar {
		position: relative;
		width: 100%;
		height: 15px;
		border-radius: 15px;
		background-color: #ccc;

		.yet_loading {
			position: absolute;
			left: 0;
			top: 0;
			height: 15px;
			width: 0;
			border-radius: 15px;
			background-color: #F5A623;
			transition: all .3s;
		}

		.load_num {
			position: absolute;
			left: 50%;
			margin-left: -14px;
			color: #fff;
		}

		.tips_text {
			position: absolute;
			top: 30px;
			left: 50%;
			margin-left: -80px;
		}
	}
}

#line_serive {
	position: relative;
	.up_r_point {
		position: absolute;
		bottom: -3px;
		left: -3px;
		width: 8px;
		height: 8px;
		text-align: center;
		border-radius: 50%;
	}
}
#new_line_serive .up_r_point {
	position: absolute;
	bottom: -3px;
	left: -3px;
	width: 8px;
	height: 8px;
	text-align: center;
	border-radius: 50%;
}

.no_data {
	height: 600px;
	p {
		margin-top: 20px;
	}
}

.gray {
	color: rgb(204, 204, 204) !important;
}
.red {
	color: red !important;
}

.green {
	color: #008000 !important;
}


/* 单选按钮 */
input[type="radio"] {
	display: none;
	position: absolute;
	clip: rect(0, 0, 0, 0);
	&+label::before {
		content: "\a0";
		/*不换行空格*/
		display: inline-block;
		vertical-align: middle;
		font-size: 18px;
		width: 18px;
		height: 18px;
		margin-right: 5px;
		border-radius: 50%;
		background-image: url('../../images/radio/no-selected.png');
	}
	&:checked+label::before {
		background-image: url('../../images/radio/selected.png');
	}

	&:disabled+label::before {
		background-image: url('../../images/radio/disabled.png');
	}
}

.editor_btn, .open_btn, .close_btn, .remove_btn, .common_btn {
	display: inline-block;
	padding: 2px 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.editor_btn {
	color: #b3b2b2;
}

.open_btn {
	color: #008000;
	border-color: #008000;
}


.close_btn, .remove_btn {
	color: #f53232;
	border-color: #f53232;
}

.ml5 {
	margin-left: 5px;
}

#time_control .time_input,
#open_num .num_input {
	display: inline-block;
	padding: 0;
	width: 100px;
	border-radius: 5px;
	border: 1px solid #e7eaec;
	text-align: center;
	font-size: 14px;
}

#open_num .num_input {
	width: 80%;
	height: 22px;
}

.btn.btn_blue {
	outline: none;
	border-radius: 5px;
	border: none;
	background-color: #1890FF;
	width: 200px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
}


.auth_del ,.auth_eduit, .auth_capital, .auth_add, 
.auth_repeal, .auth_computed, .auth_update, .auth_grant, 
.auth_write, .auth_pass, .auth_reject, .is_open, .auth_auth,
.auth_allo, .auth_group, .control_W, .control_C, .control_T, 
.admin-biaogelist, .auth_repair, .auth_wage, .auth_dividend
, .auth_Info, .auth_disabled, .auth_close_account, 
.auth_payaisle, .auth_moreMsg, .auth_returnMoney, 
.auth_resend, .auth_payment, .auth_transferOrder, 
.auth_changeSuper, .auth_autoSend, .auth_stopReceipt, .auth_changeStatus {
	display: none;
}

.common_tbody tr:not(.no_data):hover {
	background-color: #f5fff5;
}

.el-date-editor .el-range-separator {
	width: 8% !important;
}

.dark_blue {
	color: #2d07ff !important;
}

.f_bold {
	font-weight: bold !important;
}


// 充值列表排序
#pay_list_sort ul li .arrow_up {
	cursor: pointer;
	background: url('../../images/icon/arrow-u.png') center/100%;
	&:hover {
		background: url('../../images/icon/arrow-u-hover.png') center/100%;
	}
}
#pay_list_sort ul li .arrow_down {
	cursor: pointer;
	background: url('../../images/icon/arrow-d.png') center/100%;
	&:hover {
		background: url('../../images/icon/arrow-d-hover.png') center/100%;
	}
}

#layer_tips_msg {
	position: absolute;
	z-index: 999999;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 12px 25px;
	height: 48px;
	line-height: 24px;
	border-radius: 2px;
	font-size: 12px;
	color: #fff;
	background-color: #606163;
	display: none;
}

/* 会员列表用户详细的箭头 */
#info_layer .arrow {
	position: absolute;
	width: 30px;
	height: 30px;
}
#info_layer .arrow_up {
	background: url('../../images/icon/cc-arrow-up.png') center/100%;
	top: -34px;
	left: 50%;
	transform: translateX(-50%)
}
#info_layer .arrow_down {
	background: url('../../images/icon/cc-arrow-down.png') center/100%;
	bottom: -34px;
	left: 50%;
	transform: translateX(-50%);
}
#info_layer .arrow_left {
	background: url('../../images/icon/cc-arrow-left.png') center/100%;
	left: -34px;
	top: 50%;
	transform: translateY(-50%);
}
#info_layer .arrow_right {
	background: url('../../images/icon/cc-arrow-right.png') center/100%;
	right: -34px;
	top: 50%;
	transform: translateY(-50%);
}

// 会员列表用户详细的直线
#info_layer .line {
	position: absolute;
	
	background-color: #474747;
}
#info_layer .h_line {
	top: 50%;
	right: -30px;
	transform: translateY(-50%);
	height: 2px;
	width: 25px;
}
#info_layer .s_line {
	left: 50%;
	bottom: -30px;
	transform: translateX(-50%);
	height: 25px;
	width: 2px;
}


body .el-date-editor .el-range-input {
	width: 100px;
}

body .datetimerange .el-date-editor .el-range-input {
	width: auto;
}

body .el-date-editor--daterange.el-input, .el-date-editor--daterange.el-input__inner, .el-date-editor--timerange.el-input, .el-date-editor--timerange.el-input__inner {
	width: 250px;
}
body .el-date-editor .el-range-separator {
	width: 23px !important;
}
body .el-date-editor .el-icon-circle-close {
	position: relative;
	right: 13px;
}


.layui-collapse .arrow_r {
	background: url('../../images/icon/right_allow.png') center/100% ;
}
.layui-collapse .arrow_b {
	background: url('../../images/icon/down_allow.png') center/100% ;
}

.ball_container {
	margin-top: 10px;
	padding: 10px 19px;
	background-color: #f7f7f7;
}

.ball_number {
	cursor: pointer;
	margin-bottom: 5px;
	margin-right: 2px;
    display: inline-block;
    width: 35px;
    height: 36px;
    line-height: 36px;
	text-align: center;
	font-family: '微软雅黑';
	color: #fff;
    background: url('../../images/icon/Ball_on.png') 0 0 no-repeat;
    font-size: 16px;
	font-weight: 700;
}
.ball_number.disabled {
    color: #959595;
    background: url('../../images/icon/ball.png') 0 0 no-repeat;
}

.ball_numberThree {
    display: block;
	background: url('../../images/icon/fastThreeActive.png') 0 0 no-repeat;
	color: #fff !important;
    width: 91px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 14px;
}
.ball-numberThree.disabled {
	background: url('../../images/icon/fastThree.png') 0 0 no-repeat;
	color: #818181;
}

.select_btn:hover {
	color: #fff;
    background-color: #1ab394;
}


.solo_icon {
    background: url('../../images/icon/solo_bg.png') 0 0 no-repeat;
    width: 34px;
    height: 16px;
    line-height: 16px;
    display: inline-block;
    color: #fff;
    text-align: center;
}

.solo_icon_one {
    background: url('../../images/icon/solo_bg_one.png') 0 0 no-repeat;
    width: 20px;
    height: 16px;
    line-height: 16px;
    display: inline-block;
    color: #fff;
    text-align: center;
}

.solo_tips {
	overflow: hidden;
	height: 26px;
	line-height: 26px;
	width: 100%;
	color: #616161;
}

.mb10 {
	margin-bottom: 10px !important;
}
.mb8 {
	margin-bottom: 8px !important;
}

#login.container {
	background: url('../../images/icon/bg.png') no-repeat center/100%;
	background-size: cover;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;

	input[type=text]:focus, input[type=password]:focus {
		border-color: #27A9E3 !important;
	}

	.login_container {
		margin: 120px auto 0 auto;
		min-height: 420px;
		max-width: 420px;
		padding: 40px;
		background-color: #ffffff;
		margin-left: auto;
		margin-right: auto;
		border-radius: 4px;
		/* overflow-x: hidden; */
		box-sizing: border-box;
		.message {
			margin: 10px 0 0 -58px;
			padding: 18px 10px 18px 60px;
			background: #189F92;
			position: relative;
			color: #fff;
			font-size: 16px;
		}
		#darkbannerwrap {
			background: url('../../images/icon/aiwrap.png');
			width: 18px;
			height: 10px;
			margin: 0 0 20px -58px;
			position: relative;
		}
		.layui-input {
			border: 1px solid #DCDEE0;
			vertical-align: middle;
			border-radius: 3px;
			height: 50px;
			padding: 0px 16px;
			font-size: 14px;
			color: #555555;
			outline: none;
			width: 100%;
			box-sizing: border-box;
		}
		
		.el-button {
			margin-top: 15px;
			padding: 0;
			width: 100%;
			height: 48px;
			line-height: 48px;
			font-size: 18px;
			background: #189f92;
			border-color: #189f92;
		}
		.code_c {
			position: relative;
			.code {
				position: absolute;
				right: 0px; 
				top: 0px;
			}
			.layui-input {
				width: 180px;
			}
		}
		
	}
}
.global-view {
	.layui-textarea {
		resize: none;
		height: 150px;
	}
	.tips {
		vertical-align: top;
		line-height: 30px;
		font-size: 12px;
		color: red;
		margin-left: 10px;
	}
}
#chat_view {
	.blue {
		color: #006efe !important;
	}
	.green {
		color: #42b475 !important;
	}
	.text {
		font-size: 14px;
	}

	.item {
		margin-bottom: 18px;
	}

	.h0 {
		height: 0;
		overflow: hidden;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		transition: all .3s;
	}



	// 滚动容器
	.scroll-container {
		position: relative;
		min-height: 600px;
		max-height: 600px;
		overflow-y: auto;
		overflow-x: hidden;
		&::-webkit-scrollbar {
			width: 5px;
			height: 6px;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 7px;
			-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
			background: #ACACAC;
		}
		&::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
			border-radius: 4px;
			background: #EDEDED;
		}
	}

	.user_list .scroll-container {
		min-height: 651px;
		max-height: 651px;
		&::-webkit-scrollbar {
			width: 0px;
			height: 0px;
		}

		&:hover {
			&::-webkit-scrollbar {
				width: 4px;
				height: 6px;
			}
		}
	}

	.el-card__header {
		line-height: 32px;
		height: 70px;
	}

	// 用户列表
	.user_list {
		overflow-y: auto;
		float: left;
		margin-left: -100%;
		width: 220px;

		
		// 分组
		.group {
			&.active {
				.group_icon {
					transform: rotate(90deg);
				}
			}
			
			.title {
				position: relative;
				height: 36px;
				line-height: 36px;
				background-color: #fff;
				&:hover {
					background-color: #f2f2f2;
				}

				.group_icon {
					position: absolute;
					left: 9px;
					top: 50%;
					margin-top: -8px;
					width: 16px;
					height: 16px;
					background: url('../../images/icon/right_allow.png') center/100% no-repeat;
					-webkit-transition: all .3s;
					-moz-transition: all .3s;
					transition: all .3s;
				}

				.name_sum {
					position: absolute;
					left: 29px;
					top: 50%;
					transform: translateY(-50%);	
				}
	
				.group_name {
					cursor: default;
				}
	
				.group_sum {
					cursor: default;
				}
			}
		}

		.el-card__body {
			padding: 0;
		}

		.item {
			cursor: pointer;
			position: relative;
			padding: 15px 20px;
			height: 70px;
			line-height: 70px;
			background-color: #fff;
			border-bottom: 1px solid #efeeee;
			margin-bottom: 0;

			&:hover, &.active {
				background-color: #f2f2f2;
			}

			// 搜索
			&.search {
				height: 30px;
				line-height: 30px;
				padding: 0;
				.search_text {
					position: absolute;
					z-index: 9;
					left: 5px;
					top: 50%;
					transform: translateY(-50%);
					font-weight: normal;
					color: #808080;
					margin-bottom: 0;
				}
				.search_input {
					height: 30px;
					border: none;
					padding-left: 40px;
					padding-right: 26px;
					border-bottom: 1px solid #ebeef5;
					&:focus {
						-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(59, 180, 242, 0.3) inset;
    					box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(59, 180, 242, 0.3) inset;
					}
				}
				.search_icon {
					cursor: pointer;
					position: absolute;
					right: 5px;
					top: 50%;
					margin-top: -8px;
					background: url('../../images/icon/search_icon.png') center no-repeat;
					width: 16px;
					height: 16px;
					margin-bottom: 0;
				}
			}
			
			// 头像
			.buddha {
				display: inline-block;
				width: 40px;
				height: 40px;
				border-radius: 50%;
			}

			// 名字
			.name {
				position: absolute;
				left: 70px;
				width: 148px;
				top: 50%;
				transform: translateY(-50%);
				overflow: hidden;
				-o-text-overflow: ellipsis;
				text-overflow: ellipsis;
			}

			// 头像
			@for $i from 0 through 5 {
				.avatar#{$i} {
					background: url('../../images/peoples/people'+ $i +'.png') center no-repeat;
					background-size: 40px;
				}
			}
			.avatar7 {
				background: url('../../images/peoples/people7.png') center no-repeat;
				background-size: 40px;
			}
		}
	}

	// 聊天记录
	.record {
		position: relative;
		margin-left: 225px;
		padding-bottom: 41px;

		

		// 没有聊天记录
		.no_record {
			position: absolute;
			left: 50%;
			top: 50%;
			width: 346px;
			height: 310px;
			margin-left: -173px;
			margin-top: -155px;
			background: url('../../images/icon/no_record.jpg') center no-repeat;
		}

		.el-form-item--mini.el-form-item, .el-form-item--small.el-form-item {
			margin: 0;
		}

		// 底部分页
		.bottom-page {
			position: absolute;
			bottom: 5px;
			right: 5px;
			width: 100%;
			height: 36px;
			padding-top: 4px;
			border-top: 1px solid #ebebeb;
			text-align: right;
		}

		.item {
			position: relative;
			width: 100%;
			padding: 15px 20px;
			min-height: 70px;
			margin-bottom: 12px;

			&.blue {
				.content {
					background-color: #4491f5;
					color: #fff;
					&::before {
						border-color: #4491f5 transparent transparent;
					}
				}
			}


			// 头像
			.buddha {
				float: left;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background-color: #ccc;
			}

			// 名字
			.name_date {
				position: absolute;
				left: 70px;
				top: 6px;

				.name {
					color: #808080;
				}
	
				// 时间
				.date {
					margin-left: 5px;
					font-size: 12px;
					bottom: 0px;
					color: #c8c8c8;
				}
			}


			// 内容
			.content {
				position: relative;
				float: left;
				margin-left: 8px;
				margin-top: 12px;
				padding: 10px;
				width: auto;
				max-width: 85%;
				background-color: #e5e5e5;
				word-break:break-all;
				border-radius: 5px;
				color: #000;
				

				&::before {
					content: '';
					position: absolute;
					left: -10px;
					top: 17px;
					width: 0;
					height: 0;
					border-style: solid dashed dashed;
					border-color: #e5e5e5 transparent transparent;
					overflow: hidden;
					border-width: 9px;
					transform: skew(0deg, 21deg);
				}
			}

			// 头像
			@for $i from 0 through 5 {
				.avatar#{$i} {
					background: url('../../images/peoples/people'+ $i +'.png') center no-repeat;
					background-size: 40px;
				}
			}
			.avatar7 {
				background: url('../../images/peoples/people7.png') center no-repeat;
				background-size: 40px;
			}
		}
	}
}


// 自定义element
#custom_ele_page {
	position: relative;

	.home_page, .end_page {
		cursor: pointer;
		z-index: 9;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		color: #7b7676;
		&:hover {
			color: #409EFF;
		}
	}

	.home_page {
		right: 115px;
	}
	.end_page {
		right: 5px;
	}
	.el-pagination__sizes {
		margin-right: 50px;
	}

	// 前一页
	.el-pagination .btn-prev {
	}
	// 后一页
	.el-pagination .btn-next {
		margin-right: 35px;
	}
}


.hhyang_Mask {
	top: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .6);
	z-index: 10001;
}

#p_myIframe {
	display: none;
}

#myIframe {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -383px;
	margin-top: -309px;
}

.blacklist {
	min-height: 600px;
	>li {
		position: relative;
		float: left;
		padding: 4px 10px;
		background-color: #fff7c8;
		border: 1px solid #d4d1c1;
		margin-right: 15px;
		margin-bottom: 15px;
		text-align: center;

		&.active {
			box-shadow: 0 0 5px red;
		}

		>.icon.del {
			cursor: pointer;
			position: absolute;
			right: -8px;
			top: -8px;
			width: 16px;
			height: 16px;
			background: url('../../images/icon/del.png') center;
			border-radius: 50%;
		}

		>.ip {
			display: inline-block;
			width: 120px;
			padding: 0;
			font-size: 14px;
			line-height: 14px;
			color: #555555;
			vertical-align: middle;
			background: none;
			border: none;
			border-radius: 0;
			text-align: center;
			-webkit-appearance: none;

			&:focus {
				background: none;
				border-color: none;
				box-shadow: none;
			}
		}
	}
}


.textarea-layer {
	padding: 20px 20px 0 20px;

	.t_content {
		padding:10px;
		width: 100%;
		height: 130px;
		border: 1px solid #ccc;
		margin-top: 10px;
		resize: none;
	}	
}


.lhc_icon {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	background: url('../../images/icon/lhc_icon.png')
}

.big-font {
	font-weight: 900;
	font-size: 20px;
}

// 弹框
.__layer {
    padding: 20px 20px 0;
    background: #fff;
	color: #616161;
	input {
        color: #616161;
	}
	
	&.edit_notice {
		.div_text_content {
			border: 1px solid #ccc;
			display: inline-block;
			line-height: 18px;
			width: 637px;
			height: 250px;
			padding: 8px;
			&:focus {
				outline: none;
			}
		}
	}

	.hidden_container {
		height: 0;
		visibility: hidden;
	}
    
    .hidden_container>.item, >.item {
        height: 36px;
        line-height: 36px;
        margin-bottom: 5px;
        &.mb15 {
            margin-bottom: 15px;
        }
        &.mb0 {
            margin-bottom: 0;
        }
        .__layer_title {
			float: left;
            width: 110px;
            padding: 0 5px;
		}
		.__layer_textarea {
			padding: 5px;
			line-height: 18px;
			resize: none;
		}
		.__layer_content {
            display: inline-block;
			width: 170px;
            height: 36px;
		}
		.__layer_handle {
			margin-left: 10px;
			color: #01AAED;
			font-size: 12px;
		}
        .__layer_input {
            border: 1px solid rgb(185, 174, 174);
            width: 170px;
            height: 36px;
            padding-left: 6px;
		}
		.__layer_select {
            border: 1px solid rgb(185, 174, 174);
            height: 36px;
            padding-left: 6px;
        }
        .__layer_tips {
            margin-left: 10px;
            color: #888;
            font-size: 12px;
        }
        .__layer_radio {
            vertical-align: middle;
        }
	}
	
	&.two_lines {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		.__layer_title {
			float: left;
		}
		.hidden {
			visibility: hidden;
		}
	}
}


/* 全局配置 */
.global_config {
	min-height: 500px;
	padding: 20px;
}

.add_code, .edit_code {
	.__layer_title {
		width: 130px !important;
	}
}